SOHO_SITE_URL=https://www.sohocambados.es
PRINT_BRIDGE_TOKEN=genera-un-token-aleatorio-de-64-caracteres
PRINTER_HOST=192.168.1.100
PRINTER_PORT=9100
PRINTER_WORKER_ID=soho-cocina-1
POLL_INTERVAL_MS=5000
